CyberLlamaConsumerSite/CyberLlamaConsumerSite/Connected Services/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53884/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:53884/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getpcinvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvoiceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getpcinvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getpcinvoiceResult" nillable="true" type="q1:ArrayOfcAllCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPartInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvoiceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPartInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPartInvoiceResult" nillable="true" type="q2:ArrayOfcAllCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPartSold">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPartSoldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToPartSoldResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPcSold">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPcSoldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToPcSoldResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="decreasePartStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="decreasePartStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="decreasePartStockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="decreasePcStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="decreasePcStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="decreasePcStockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEmployeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addClientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserPositions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getUserPositionsResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllEmployeesResult" nillable="true" type="q4:ArrayOfcEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAirCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newAC" nillable="true" type="q5:cAirCooler" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAirCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addAirCoolerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newCase" nillable="true" type="q6:cCase" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newCPU" nillable="true" type="q7:cCPU" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCPUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newFan" nillable="true" type="q8:cFan" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addFanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addGPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newGPU" nillable="true" type="q9:cGPU" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addGPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addGPUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addHDD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newHDD" nillable="true" type="q10:cHDD" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addHDDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addHDDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addHeadset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newHeadset" nillable="true" type="q11:cHeadset" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addHeadsetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addHeadsetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addKeyboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newKeyboard" nillable="true" type="q12:cKeyboard" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addKeyboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addKeyboardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLiquidCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newLC" nillable="true" type="q13:cLiquidCooler" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLiquidCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addLiquidCoolerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMicrophone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newMicrophone" nillable="true" type="q14:cMicrophone" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMicrophoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addMicrophoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMobo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newMobo" nillable="true" type="q15:cMobo" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMoboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addMoboResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMonitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newMonitor" nillable="true" type="q16:cMonitor" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMonitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addMonitorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newMouse" nillable="true" type="q17:cMouse" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addMouseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMousepad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newMousepad" nillable="true" type="q18:cMousePad" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMousepadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addMousepadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newOS" nillable="true" type="q19:cOS" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addOSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPSU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPSU" nillable="true" type="q20:cPSU" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPSUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPSUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRAM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newRAM" nillable="true" type="q21:cRAM" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRAMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addRAMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSSD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newSSD" nillable="true" type="q22:cSSD" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSSDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSSDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSpeaker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newSpeaker" nillable="true" type="q23:cSpeaker" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSpeakerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSpeakerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPC" nillable="true" type="q24:cPC" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPCResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPartResult" nillable="true" type="q25:c_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="intgetPC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="intgetPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="intgetPCResult" nillable="true" type="q26:cPC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAirCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAirCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAirCoolerResult" nillable="true" type="q27:cAirCooler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCaseResult" nillable="true" type="q28:cCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCPUResult" nillable="true" type="q29:cCPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getFanResult" nillable="true" type="q30:cFan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getGPUResult" nillable="true" type="q31:cGPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHDD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHDDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getHDDResult" nillable="true" type="q32:cHDD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHeadset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHeadsetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getHeadsetResult" nillable="true" type="q33:cHeadset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLiquidCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLiquidCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getLiquidCoolerResult" nillable="true" type="q34:cLiquidCooler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMobo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMoboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMoboResult" nillable="true" type="q35:cMobo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPSU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPSUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPSUResult" nillable="true" type="q36:cPSU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRAM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRAMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getRAMResult" nillable="true" type="q37:cRAM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSSD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSSDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getSSDResult" nillable="true" type="q38:cSSD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getKeyboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getKeyboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getKeyboardResult" nillable="true" type="q39:cKeyboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMicrophone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMicrophoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMicrophoneResult" nillable="true" type="q40:cMicrophone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpeaker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpeakerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getSpeakerResult" nillable="true" type="q41:cSpeaker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMonitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMonitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMonitorResult" nillable="true" type="q42:cMonitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMouseResult" nillable="true" type="q43:cMouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMousepad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMousepadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMousepadResult" nillable="true" type="q44:cMousePad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPCbyType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPCbyTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPCbyTypeResult" nillable="true" type="q45:ArrayOfcPC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPCInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPCInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllPCInfoResult" nillable="true" type="q46:ArrayOfc_PcPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPCbyPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minPrice" type="xs:double" />
        <xs:element minOccurs="0" name="maxPrice" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPCbyPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPCbyPriceResult" nillable="true" type="q47:ArrayOfcPC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAirCoolersForCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpu_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAirCoolersForCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAirCoolersForCPUResult" nillable="true" type="q48:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLiquidCoolersForCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpu_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLiquidCoolersForCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getLiquidCoolersForCPUResult" nillable="true" type="q49:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCPUForAirCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ac_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCPUForAirCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCPUForAirCoolerResult" nillable="true" type="q50:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCPUForLiquidCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lc_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCPUForLiquidCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCPUForLiquidCoolerResult" nillable="true" type="q51:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCPUForMotherboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobo_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCPUForMotherboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCPUForMotherboardResult" nillable="true" type="q52:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaseForMotherboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobo_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaseForMotherboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCaseForMotherboardResult" nillable="true" type="q53:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRAMForMotherboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobo_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRAMForMotherboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getRAMForMotherboardResult" nillable="true" type="q54:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMotherboardForCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpu_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMotherboardForCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMotherboardForCPUResult" nillable="true" type="q55:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMotherboardForRAM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ram_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMotherboardForRAMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMotherboardForRAMResult" nillable="true" type="q56:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMotherboardForCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="case_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMotherboardForCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMotherboardForCaseResult" nillable="true" type="q57:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAirCooler">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAirCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllAirCoolerResult" nillable="true" type="q58:ArrayOfcAirCooler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllCaseResult" nillable="true" type="q59:ArrayOfcCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCPU">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllCPUResult" nillable="true" type="q60:ArrayOfcCPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllFan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllFanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllFanResult" nillable="true" type="q61:ArrayOfcFan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGPU">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllGPUResult" nillable="true" type="q62:ArrayOfcGPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllHDD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllHDDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllHDDResult" nillable="true" type="q63:ArrayOfcHDD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllLiquidCooler">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllLiquidCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllLiquidCoolerResult" nillable="true" type="q64:ArrayOfcLiquidCooler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMobo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMoboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllMoboResult" nillable="true" type="q65:ArrayOfcMobo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPSU">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPSUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllPSUResult" nillable="true" type="q66:ArrayOfcPSU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRAM">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRAMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllRAMResult" nillable="true" type="q67:ArrayOfcRAM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllParts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPartsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllPartsResult" nillable="true" type="q68:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSSD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSSDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllSSDResult" nillable="true" type="q69:ArrayOfcSSD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPC">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllPCResult" nillable="true" type="q70:ArrayOfcPC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPartCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="part_ID" type="xs:int" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="total_price" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPartCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToPartCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePartCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="pc_ID" type="xs:int" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePartCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePartCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromPartCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="part_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromPartCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeFromPartCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearPartCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearPartCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clearPartCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPcCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="pc_ID" type="xs:int" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="total_price" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPcCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToPcCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePcCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="pc_ID" type="xs:int" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePcCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePcCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromPcCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="pc_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromPcCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeFromPcCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearPcCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearPcCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clearPcCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCartItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCartItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCartItemsResult" nillable="true" type="q71:ArrayOfcAllCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getClientResult" nillable="true" type="q72:cClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllInvoices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllInvoicesResult" nillable="true" type="q73:ArrayOfcInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPartInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPartInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToPartInvoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPcInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPcInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToPcInvoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>