CyberLlamaConsumerSite/CyberLlamaConsumerSite/Connected Services/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53884/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:53884/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="addToPartSold">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPartSoldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToPartSoldResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPcSold">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPcSoldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToPcSoldResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="decreasePartStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="decreasePartStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="decreasePartStockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="decreasePcStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="decreasePcStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="decreasePcStockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getpcStockStats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getpcStockStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getpcStockStatsResult" nillable="true" type="q1:ArrayOfcStock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getpcSoldStats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getpcSoldStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getpcSoldStatsResult" nillable="true" type="q2:ArrayOfcSold" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getpartStockStats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getpartStockStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getpartStockStatsResult" nillable="true" type="q3:ArrayOfcStock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getpartSoldStats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getpartSoldStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getpartSoldStatsResult" nillable="true" type="q4:ArrayOfcSold" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLoginStats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLoginStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getLoginStatsResult" nillable="true" type="q5:ArrayOfcLoginStat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegisterStats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegisterStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getRegisterStatsResult" nillable="true" type="q6:ArrayOfcRegisterStat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePCResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPartResult" nillable="true" type="q7:c_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="intgetPC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="intgetPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="intgetPCResult" nillable="true" type="q8:cPC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPcInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPcInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPcInfoResult" nillable="true" type="q9:c_PcPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAirCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAirCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAirCoolerResult" nillable="true" type="q10:cAirCooler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCaseResult" nillable="true" type="q11:cCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCPUResult" nillable="true" type="q12:cCPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getFanResult" nillable="true" type="q13:cFan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getGPUResult" nillable="true" type="q14:cGPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHDD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHDDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getHDDResult" nillable="true" type="q15:cHDD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHeadset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHeadsetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getHeadsetResult" nillable="true" type="q16:cHeadset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLiquidCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLiquidCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getLiquidCoolerResult" nillable="true" type="q17:cLiquidCooler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMobo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMoboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMoboResult" nillable="true" type="q18:cMobo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPSU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPSUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPSUResult" nillable="true" type="q19:cPSU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRAM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRAMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getRAMResult" nillable="true" type="q20:cRAM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSSD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSSDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getSSDResult" nillable="true" type="q21:cSSD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getKeyboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getKeyboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getKeyboardResult" nillable="true" type="q22:cKeyboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMicrophone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMicrophoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMicrophoneResult" nillable="true" type="q23:cMicrophone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpeaker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpeakerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getSpeakerResult" nillable="true" type="q24:cSpeaker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMonitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMonitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMonitorResult" nillable="true" type="q25:cMonitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMouseResult" nillable="true" type="q26:cMouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMousepad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMousepadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMousepadResult" nillable="true" type="q27:cMousePad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPCbyType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPCbyTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPCbyTypeResult" nillable="true" type="q28:ArrayOfcPC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPCInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPCInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllPCInfoResult" nillable="true" type="q29:ArrayOfc_PcPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPCbyPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minPrice" type="xs:double" />
        <xs:element minOccurs="0" name="maxPrice" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPCbyPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPCbyPriceResult" nillable="true" type="q30:ArrayOfcPC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAirCoolersForCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpu_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAirCoolersForCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAirCoolersForCPUResult" nillable="true" type="q31:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLiquidCoolersForCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpu_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLiquidCoolersForCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getLiquidCoolersForCPUResult" nillable="true" type="q32:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCPUForAirCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ac_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCPUForAirCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCPUForAirCoolerResult" nillable="true" type="q33:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCPUForLiquidCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lc_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCPUForLiquidCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCPUForLiquidCoolerResult" nillable="true" type="q34:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCPUForMotherboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobo_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCPUForMotherboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCPUForMotherboardResult" nillable="true" type="q35:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaseForMotherboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobo_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaseForMotherboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCaseForMotherboardResult" nillable="true" type="q36:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRAMForMotherboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobo_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRAMForMotherboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getRAMForMotherboardResult" nillable="true" type="q37:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMotherboardForCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpu_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMotherboardForCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMotherboardForCPUResult" nillable="true" type="q38:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMotherboardForRAM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ram_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMotherboardForRAMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMotherboardForRAMResult" nillable="true" type="q39:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMotherboardForCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="case_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMotherboardForCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getMotherboardForCaseResult" nillable="true" type="q40:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAirCooler">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAirCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllAirCoolerResult" nillable="true" type="q41:ArrayOfcAirCooler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllCaseResult" nillable="true" type="q42:ArrayOfcCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCPU">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllCPUResult" nillable="true" type="q43:ArrayOfcCPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllFan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllFanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllFanResult" nillable="true" type="q44:ArrayOfcFan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGPU">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllGPUResult" nillable="true" type="q45:ArrayOfcGPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllHDD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllHDDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllHDDResult" nillable="true" type="q46:ArrayOfcHDD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllLiquidCooler">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllLiquidCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllLiquidCoolerResult" nillable="true" type="q47:ArrayOfcLiquidCooler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMobo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMoboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllMoboResult" nillable="true" type="q48:ArrayOfcMobo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPSU">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPSUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllPSUResult" nillable="true" type="q49:ArrayOfcPSU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRAM">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRAMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllRAMResult" nillable="true" type="q50:ArrayOfcRAM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllParts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPartsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllPartsResult" nillable="true" type="q51:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSSD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSSDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllSSDResult" nillable="true" type="q52:ArrayOfcSSD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPC">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllPCResult" nillable="true" type="q53:ArrayOfcPC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPartCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="part_ID" type="xs:int" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="total_price" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPartCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToPartCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePartCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="pc_ID" type="xs:int" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePartCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePartCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromPartCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="part_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromPartCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeFromPartCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearPartCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearPartCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clearPartCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPcCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="pc_ID" type="xs:int" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="total_price" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPcCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToPcCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePcCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="pc_ID" type="xs:int" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePcCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePcCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromPcCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="pc_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromPcCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeFromPcCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearPcCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearPcCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clearPcCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCartItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCartItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCartItemsResult" nillable="true" type="q54:ArrayOfcAllCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getClientResult" nillable="true" type="q55:cClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllInvoices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllInvoicesResult" nillable="true" type="q56:ArrayOfcInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPartInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPartInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToPartInvoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPcInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPcInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToPcInvoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getpcinvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvoiceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getpcinvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getpcinvoiceResult" nillable="true" type="q57:ArrayOfcAllCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPartInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvoiceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPartInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPartInvoiceResult" nillable="true" type="q58:ArrayOfcAllCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEmployeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addClientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserPositions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getUserPositionsResult" nillable="true" type="q59:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllEmployeesResult" nillable="true" type="q60:ArrayOfcEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAirCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newAC" nillable="true" type="q61:cAirCooler" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAirCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addAirCoolerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAirCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newAC" nillable="true" type="q62:cAirCooler" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q63:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAirCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditAirCoolerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAirCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAirCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAirCoolerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newCase" nillable="true" type="q64:cCase" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newCase" nillable="true" type="q65:cCase" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q66:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditCaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newCPU" nillable="true" type="q67:cCPU" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCPUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newCPU" nillable="true" type="q68:cCPU" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q69:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditCPUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCPUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newFan" nillable="true" type="q70:cFan" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addFanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newFan" nillable="true" type="q71:cFan" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q72:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditFanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteFanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addGPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newGPU" nillable="true" type="q73:cGPU" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="price" type="xs:decimal" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addGPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addGPUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newGPU" nillable="true" type="q74:cGPU" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q75:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditGPUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteGPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteGPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteGPUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addHDD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newHDD" nillable="true" type="q76:cHDD" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addHDDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addHDDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditHDD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newHDD" nillable="true" type="q77:cHDD" />
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q78:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditHDDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditHDDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteHDD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteHDDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteHDDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addHeadset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newHeadset" nillable="true" type="q79:cHeadset" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addHeadsetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addHeadsetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditHeadset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newHeadset" nillable="true" type="q80:cHeadset" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q81:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditHeadsetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditHeadsetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteHeadset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteHeadsetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteHeadsetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addKeyboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newKeyboard" nillable="true" type="q82:cKeyboard" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addKeyboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addKeyboardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditKeyboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newKeyboard" nillable="true" type="q83:cKeyboard" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q84:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditKeyboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditKeyboardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteKeyboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteKeyboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteKeyboardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLiquidCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newLC" nillable="true" type="q85:cLiquidCooler" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLiquidCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addLiquidCoolerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLiquidCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newLC" nillable="true" type="q86:cLiquidCooler" />
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q87:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLiquidCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditLiquidCoolerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLiquidCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLiquidCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteLiquidCoolerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMicrophone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newMicrophone" nillable="true" type="q88:cMicrophone" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMicrophoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addMicrophoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMicrophone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newMicrophone" nillable="true" type="q89:cMicrophone" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q90:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMicrophoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditMicrophoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMicrophone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMicrophoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteMicrophoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMobo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newMobo" nillable="true" type="q91:cMobo" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMoboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addMoboResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMobo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newMobo" nillable="true" type="q92:cMobo" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q93:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMoboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditMoboResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMobo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMoboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteMoboResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMonitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newMonitor" nillable="true" type="q94:cMonitor" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMonitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addMonitorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMonitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newMonitor" nillable="true" type="q95:cMonitor" />
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q96:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMonitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditMonitorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMonitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMonitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteMonitorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newMouse" nillable="true" type="q97:cMouse" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addMouseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newMouse" nillable="true" type="q98:cMouse" />
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q99:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditMouseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteMouseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMousepad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newMousepad" nillable="true" type="q100:cMousePad" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMousepadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addMousepadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMousepad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newMousepad" nillable="true" type="q101:cMousePad" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q102:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMousepadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditMousepadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMousepad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMousepadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteMousepadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newOS" nillable="true" type="q103:cOS" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addOSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newOS" nillable="true" type="q104:cOS" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q105:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditOSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteOS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteOSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPSU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPSU" nillable="true" type="q106:cPSU" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPSUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPSUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPSU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPSU" nillable="true" type="q107:cPSU" />
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q108:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPSUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPSUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePSU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePSUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePSUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRAM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newRAM" nillable="true" type="q109:cRAM" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRAMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addRAMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRAM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newRAM" nillable="true" type="q110:cRAM" />
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q111:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRAMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditRAMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRAM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRAMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteRAMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSSD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newSSD" nillable="true" type="q112:cSSD" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSSDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSSDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSSD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newSSD" nillable="true" type="q113:cSSD" />
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q114:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSSDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditSSDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSSD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSSDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSSDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSpeaker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newSpeaker" nillable="true" type="q115:cSpeaker" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSpeakerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSpeakerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSpeaker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newSpeaker" nillable="true" type="q116:cSpeaker" />
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q117:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSpeakerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditSpeakerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSpeaker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSpeakerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSpeakerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPC" nillable="true" type="q118:cPC" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPCResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPC" nillable="true" type="q119:cPC" />
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPart" nillable="true" type="q120:PartsStock" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPCResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>