CyberLlamaConsumerSite/CyberLlamaConsumerSite/Connected Services/CRUDService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="cAirCooler">
    <xs:sequence>
      <xs:element minOccurs="0" name="air_flow" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chipset" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="colour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fan_rpm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fan_size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="features" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="length" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="materials" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="noise_level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="power_connector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="series" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warranty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="width" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cAirCooler" nillable="true" type="tns:cAirCooler" />
  <xs:complexType name="cCase">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="colour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpu_cooler_max_height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dimensions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expansion_slots" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="front_io" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="front_rad_length" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gpu_max_length" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mobo_form_factor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="net_weight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="num_back_fans" type="xs:int" />
      <xs:element minOccurs="0" name="num_bottom_fans" type="xs:int" />
      <xs:element minOccurs="0" name="num_front_fans" type="xs:int" />
      <xs:element minOccurs="0" name="num_hdd_drives" type="xs:int" />
      <xs:element minOccurs="0" name="num_ssd_drives" type="xs:int" />
      <xs:element minOccurs="0" name="num_top_fans" type="xs:int" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="series" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="side_window" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="top_rad_length" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warranty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cCase" nillable="true" type="tns:cCase" />
  <xs:complexType name="cCPU">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chipset" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="base_clock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="boost_clock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cores" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="max_mem_speed" type="xs:int" />
      <xs:element minOccurs="0" name="max_temp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mem_channels" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mem_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="series" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tdp" type="xs:int" />
      <xs:element minOccurs="0" name="threads" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="total_cache" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warranty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cCPU" nillable="true" type="tns:cCPU" />
  <xs:complexType name="cFan">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cable_length" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="input_voltage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="max_air_flow" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mtbf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="noise" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="num_fans" type="xs:int" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="rpm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="series" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="static_pressure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warranty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cFan" nillable="true" type="tns:cFan" />
  <xs:complexType name="cGPU">
    <xs:sequence>
      <xs:element minOccurs="0" name="base_clock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="boost_clock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="form_factor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="height" type="xs:double" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="length" type="xs:double" />
      <xs:element minOccurs="0" name="manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="max_resolution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mem_size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mem_speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mem_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ports" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="recommended_psu_power" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="series" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="slot_width" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stream_proccessors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vr_ready" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warranty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cGPU" nillable="true" type="tns:cGPU" />
  <xs:complexType name="cHDD">
    <xs:sequence>
      <xs:element minOccurs="0" name="avg_power_usage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="interface_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="load_unload_cycles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="max_sustained_transfer_rate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operation_temp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="rotational_speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="series" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warranty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weight" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cHDD" nillable="true" type="tns:cHDD" />
  <xs:complexType name="cLiquidCooler">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fan_height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fan_size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="rad_height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rad_length" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rad_mats" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rad_width" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rgb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="series" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sockets" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tube_length" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tube_mats" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warranty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cLiquidCooler" nillable="true" type="tns:cLiquidCooler" />
  <xs:complexType name="cMobo">
    <xs:sequence>
      <xs:element minOccurs="0" name="back_panel_IO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chipset" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expansion_slots" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="form_factor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="internal_IO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="max_mem_size" type="xs:int" />
      <xs:element minOccurs="0" name="max_mem_speed" type="xs:int" />
      <xs:element minOccurs="0" name="memoryType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="os_support" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="series" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="storage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warranty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cMobo" nillable="true" type="tns:cMobo" />
  <xs:complexType name="cPSU">
    <xs:sequence>
      <xs:element minOccurs="0" name="Power" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cables" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="certification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="connectors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dimensions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fan_size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mtbf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="series" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warranty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cPSU" nillable="true" type="tns:cPSU" />
  <xs:complexType name="cRAM">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="capacity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="channel_config" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="latency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="series" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="voltage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warranty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cRAM" nillable="true" type="tns:cRAM" />
  <xs:complexType name="cSSD">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="capacity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="form_factor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="interface_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="length" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="max_power_usage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="max_seq_read" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="max_seq_write" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mtbf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="operating_temp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="random_read" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="random_write" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="series" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warranty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="width" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cSSD" nillable="true" type="tns:cSSD" />
  <xs:complexType name="cPC">
    <xs:sequence>
      <xs:element minOccurs="0" name="case_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cooler_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpu_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fan_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gpu_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hdd_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="headset_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="keyboard_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobo_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="monitor_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mouse_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="num_fans" type="xs:int" />
      <xs:element minOccurs="0" name="num_hdd" type="xs:int" />
      <xs:element minOccurs="0" name="num_ssd" type="xs:int" />
      <xs:element minOccurs="0" name="os_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="psu_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ram_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="speaker_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ssd_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warranty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cPC" nillable="true" type="tns:cPC" />
  <xs:complexType name="ArrayOfcPC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cPC" nillable="true" type="tns:cPC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcPC" nillable="true" type="tns:ArrayOfcPC" />
  <xs:complexType name="ArrayOfcAirCooler">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cAirCooler" nillable="true" type="tns:cAirCooler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcAirCooler" nillable="true" type="tns:ArrayOfcAirCooler" />
  <xs:complexType name="ArrayOfcCase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cCase" nillable="true" type="tns:cCase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcCase" nillable="true" type="tns:ArrayOfcCase" />
  <xs:complexType name="ArrayOfcCPU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cCPU" nillable="true" type="tns:cCPU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcCPU" nillable="true" type="tns:ArrayOfcCPU" />
  <xs:complexType name="ArrayOfcFan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cFan" nillable="true" type="tns:cFan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcFan" nillable="true" type="tns:ArrayOfcFan" />
  <xs:complexType name="ArrayOfcGPU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cGPU" nillable="true" type="tns:cGPU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcGPU" nillable="true" type="tns:ArrayOfcGPU" />
  <xs:complexType name="ArrayOfcHDD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cHDD" nillable="true" type="tns:cHDD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcHDD" nillable="true" type="tns:ArrayOfcHDD" />
  <xs:complexType name="ArrayOfcLiquidCooler">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cLiquidCooler" nillable="true" type="tns:cLiquidCooler" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcLiquidCooler" nillable="true" type="tns:ArrayOfcLiquidCooler" />
  <xs:complexType name="ArrayOfcMobo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cMobo" nillable="true" type="tns:cMobo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcMobo" nillable="true" type="tns:ArrayOfcMobo" />
  <xs:complexType name="ArrayOfcPSU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cPSU" nillable="true" type="tns:cPSU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcPSU" nillable="true" type="tns:ArrayOfcPSU" />
  <xs:complexType name="ArrayOfcRAM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cRAM" nillable="true" type="tns:cRAM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcRAM" nillable="true" type="tns:ArrayOfcRAM" />
  <xs:complexType name="ArrayOfcSSD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cSSD" nillable="true" type="tns:cSSD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcSSD" nillable="true" type="tns:ArrayOfcSSD" />
  <xs:complexType name="ArrayOfcAllCart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cAllCart" nillable="true" type="tns:cAllCart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcAllCart" nillable="true" type="tns:ArrayOfcAllCart" />
  <xs:complexType name="cAllCart">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imagelink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="part_id" type="xs:int" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="qua" type="xs:int" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cAllCart" nillable="true" type="tns:cAllCart" />
</xs:schema>