CyberLlamaConsumerSite/CyberLlamaConsumerSite/Connected Services/CRUDService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserPosition" nillable="true" type="tns:UserPosition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserPosition" nillable="true" type="tns:ArrayOfUserPosition" />
  <xs:complexType name="UserPosition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Admins" nillable="true" type="tns:ArrayOfAdmin" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserPosition" nillable="true" type="tns:UserPosition" />
  <xs:complexType name="ArrayOfAdmin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Admin" nillable="true" type="tns:Admin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdmin" nillable="true" type="tns:ArrayOfAdmin" />
  <xs:complexType name="Admin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Admin_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Conrtact_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginTable" nillable="true" type="tns:LoginTable" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPosition" nillable="true" type="tns:UserPosition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Admin" nillable="true" type="tns:Admin" />
  <xs:complexType name="LoginTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Admin" nillable="true" type="tns:Admin" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_ID" type="xs:int" />
      <xs:element minOccurs="0" name="User_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginTable" nillable="true" type="tns:LoginTable" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginTable" nillable="true" type="tns:LoginTable" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ZIP_Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
</xs:schema>