CyberLlamaConsumerSite/CyberLlamaConsumerSite/Connected Services/CRUDService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53884/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:53884/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEmployeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="province" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addClientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserPositions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getUserPositionsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllEmployeesResult" nillable="true" type="q2:ArrayOfcEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAirCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newAC" nillable="true" type="q3:cAirCooler" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAirCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addAirCoolerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newCase" nillable="true" type="q4:cCase" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newCPU" nillable="true" type="q5:cCPU" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCPUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newFan" nillable="true" type="q6:cFan" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addFanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addGPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newGPU" nillable="true" type="q7:cGPU" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addGPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addGPUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addHDD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newHDD" nillable="true" type="q8:cHDD" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addHDDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addHDDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLiquidCooler">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newLC" nillable="true" type="q9:cLiquidCooler" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLiquidCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addLiquidCoolerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMobo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newMobo" nillable="true" type="q10:cMobo" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMoboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addMoboResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPSU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPSU" nillable="true" type="q11:cPSU" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPSUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPSUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRAM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newRAM" nillable="true" type="q12:cRAM" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRAMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addRAMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSSD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newSSD" nillable="true" type="q13:cSSD" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSSDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSSDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="newPC" nillable="true" type="q14:cPC" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPCResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPartResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="intgetPC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="intgetPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="intgetPCResult" nillable="true" type="q15:cPC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPCbyType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPCbyTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPCbyTypeResult" nillable="true" type="q16:ArrayOfcPC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPCbyPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minPrice" type="xs:double" />
        <xs:element minOccurs="0" name="maxPrice" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPCbyPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getPCbyPriceResult" nillable="true" type="q17:ArrayOfcPC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAirCooler">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAirCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllAirCoolerResult" nillable="true" type="q18:ArrayOfcAirCooler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllCaseResult" nillable="true" type="q19:ArrayOfcCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCPU">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllCPUResult" nillable="true" type="q20:ArrayOfcCPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllFan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllFanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllFanResult" nillable="true" type="q21:ArrayOfcFan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGPU">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllGPUResult" nillable="true" type="q22:ArrayOfcGPU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllHDD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllHDDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllHDDResult" nillable="true" type="q23:ArrayOfcHDD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllLiquidCooler">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllLiquidCoolerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllLiquidCoolerResult" nillable="true" type="q24:ArrayOfcLiquidCooler" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMobo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMoboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllMoboResult" nillable="true" type="q25:ArrayOfcMobo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPSU">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPSUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllPSUResult" nillable="true" type="q26:ArrayOfcPSU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRAM">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRAMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllRAMResult" nillable="true" type="q27:ArrayOfcRAM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllParts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPartsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllPartsResult" nillable="true" type="q28:ArrayOfc_ProductPageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSSD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSSDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllSSDResult" nillable="true" type="q29:ArrayOfcSSD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPC">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllPCResult" nillable="true" type="q30:ArrayOfcPC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPartCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="part_ID" type="xs:int" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="total_price" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPartCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToPartCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePartCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="pc_ID" type="xs:int" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePartCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePartCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromPartCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="part_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromPartCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeFromPartCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearPartCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearPartCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clearPartCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPcCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="pc_ID" type="xs:int" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
        <xs:element minOccurs="0" name="total_price" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addToPcCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToPcCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePcCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="pc_ID" type="xs:int" />
        <xs:element minOccurs="0" name="qua" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePcCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePcCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromPcCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
        <xs:element minOccurs="0" name="pc_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromPcCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeFromPcCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearPcCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clearPcCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clearPcCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCartItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCartItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getCartItemsResult" nillable="true" type="q31:ArrayOfcAllCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>